.rightsBread{
  background-color: #D3DCE6;
  line-height: 3;
  padding-left: 10px;
}
.role-level1{
  margin-bottom: 20px;
}
.role-level2{
  margin-bottom: 10px;
}
.role-level3{
  margin-right: 5px;
}
